<a href="https://colab.research.google.com/github/PhucNguyenZed/AnalystDeepLearning/blob/main/HomeWork_Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dữ liệu dulieuxettuyendaihoc.csv được mô tả như sau: Dữ liệu lưu trữ điểm trung bình môn, khu vực, khối thi và điểm thi đại học của 100 học sinh.

T1, L1, H1, S1, V1, X1, D1, N1 lần lượt là điểm trung bình các môn Toán, Lý, Hóa, Sinh, Văn, Sử, Địa, Ngoại ngữ năm lớp 10
T2, L2, H2, S2, V2, X2, D2, N2 lần lượt là điểm trung bình các môn Toán, Lý, Hóa, Sinh, Văn, Sử, Địa, Ngoại ngữ năm lớp 11
T6, L6, H6, S6, V6, X6, D6, N6 lần lượt là điểm trung bình các môn Toán, Lý, Hóa, Sinh, Văn, Sử, Địa, Ngoại ngữ năm lớp 12
GT: Giới tính
DT: Dân tộc
KV, KT lần lượt là khu vực thi và khối thi
DH1, DH2, DH3 lần lượt là điểm thi đại học môn 1, môn 2, môn 3
Sử dụng Pandas để thực hiện các yêu cầu sau đây:

Xác định và phân loại dữ liệu định tính và định lượng
Định nghĩa các thang đo phù hợp cho từng biến số
Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng
Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0. Hướng dẫn:
Lập bảng tần số, tần suất để khảo sát dữ liệu thiếu, bao nhiêu dữ liệu riêng biệt (pandas unique).

Thực hiện thay thế dữ liệu thiếu bằng phương pháp điền dữ liệu 0

Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean. Hướng dẫn
Lập bảng tần số, tần suất để khảo sát dữ liệu thiếu.

Thực hiện thay thế dữ liệu thiếu bằng phương pháp Mean.

Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.
Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12. • Công thức tính: TBM = (T2 + L + H + S + V2 + X + D + N) / 10
Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1, TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau: • Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y) • Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB) • Từ 6.5 đến dưới 8.0: khá (kí hiệu là K) • Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G) • Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)
Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương pháp Min-Max Normalization
Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và rớt (giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau • Với khối A, A1 nếu [(DH12 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt • Với khối B nếu [(DH1 + DH22 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt • Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt
Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [3]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [4]:
frame = pd.DataFrame(dulieuxettuyen)
frame.to_csv('/drive/My Drive/DataAnalyst/dulieuxettuyen.csv')

In [5]:
df = pd.read_csv("/drive/My Drive/DataAnalyst/dulieuxettuyen.csv", index_col = "STT")

**1. Xác định và phân loại dữ liệu định tính và định lượng**

In [6]:
df.dtypes

Unnamed: 0      int64
T1            float64
L1            float64
H1            float64
S1            float64
V1            float64
X1            float64
D1            float64
N1            float64
T2            float64
L2            float64
H2            float64
S2            float64
V2            float64
X2            float64
D2            float64
N2            float64
T3            float64
L3            float64
H3            float64
S3            float64
V3            float64
X3            float64
D3            float64
N3            float64
T4            float64
L4            float64
H4            float64
S4            float64
V4            float64
X4            float64
D4            float64
N4            float64
T5            float64
L5            float64
H5            float64
S5            float64
V5            float64
X5            float64
D5            float64
N5            float64
T6            float64
L6            float64
H6            float64
S6            float64
V6            float64
X6            float64
D6            float64
N6            float64
GT             object
DT            float64
KV             object
DH1           float64
DH2           float64
DH3           float64
KT             object
dtype: object

In [7]:
df.axes

[Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
              14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
              27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
              40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
              53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
              66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
              79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
              92,  93,  94,  95,  96,  97,  98,  99, 100],
            dtype='int64', name='STT'),
 Index(['Unnamed: 0', 'T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2',
        'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3',
        'X3', 'D3', 'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5',
        'L5', 'H5', 'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6',
        'X6', 'D6', 'N6', 'GT', 'DT', 'KV', 'DH1', 'DH2', 'DH3', 'KT'],
       dtype='object')]

In [8]:
df.values

array([[0, 7.2, 7.3, ..., 3.25, 4.5, 'A1'],
       [1, 5.4, 3.9, ..., 4.0, 3.5, 'C'],
       [2, 5.6, 6.8, ..., 6.75, 4.0, 'C'],
       ...,
       [97, 8.8, 5.5, ..., 8.0, 4.0, 'C'],
       [98, 2.7, 1.8, ..., 3.5, 5.5, 'C'],
       [99, 4.1, 5.2, ..., 2.5, 4.25, 'C']], dtype=object)

In [9]:
df.value_counts

<bound method DataFrame.value_counts of      Unnamed: 0   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                            ...
1             0  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
2             1  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
3             2  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
4             3  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
5             4  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
..          ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...   ...   ...  ..
96           95  8.6  6.9  7.4  8.8  7.6  5.8  ...   F NaN    1  5.25  1.50  6.25   C
97           96  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
98           97  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
99           98  2.7  1.8  3.4  5.3  4.5  7.9  ...   M NaN    1  5.00  3.50  5.50   C
100          99  4.1  5.2  4.9  5.3  5.5  5.4  ...   M NaN  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]>

In [10]:
df.size

5600


**2. Định nghĩa các thang đo phù hợp cho từng biến số**

In [11]:
pointDHMaxMin = df.aggregate({"DH1":["max","min"],
                            "DH2":["max","min"],
                            "DH3":["max","min"]})
print(pointDHMaxMin)

     DH1  DH2   DH3
max  7.0  8.0  8.00
min  1.0  1.5  2.75

In [12]:
pointTB1MaxMin = df.aggregate({"T1":["max","min"],"L1":["max","min"],
                                "H1":["max","min"],"S1":["max","min"],
                                "V1":["max","min"],"X1":["max","min"],
                                "D1":["max","min"],"N1":["max","min"]})
pointTB2MaxMin = df.aggregate({"T2":["max","min"],"L2":["max","min"],
                                "H2":["max","min"],"S2":["max","min"],
                                "V2":["max","min"],"X2":["max","min"],
                                "D2":["max","min"],"N2":["max","min"]})
pointTB3MaxMin = df.aggregate({"T3":["max","min"],"L3":["max","min"],
                                "H3":["max","min"],"S3":["max","min"],
                                "V3":["max","min"],"X3":["max","min"],
                                "D3":["max","min"],"N3":["max","min"]})
print(pointTB1MaxMin)
print(pointTB2MaxMin)
print(pointTB3MaxMin)

      T1   L1   H1   S1   V1   X1   D1   N1
max  9.3  8.0  9.1  8.8  8.7  8.9  8.8  9.3
min  2.4  1.8  3.0  1.9  3.1  3.1  2.0  2.8
      T2   L2   H2   S2   V2   X2   D2   N2
max  9.6  8.9  8.9  9.5  8.6  9.3  9.4  9.1
min  2.8  2.4  3.1  4.5  3.7  4.2  3.9  3.2
      T3   L3   H3   S3   V3   X3   D3   N3
max  9.5  8.8  9.2  9.0  8.1  9.8  9.3  9.1
min  2.3  2.8  3.4  3.7  2.5  2.4  4.5  3.3

In [13]:
StaGT = df.groupby("GT")["GT"].agg(["count"])
print(StaGT)

    count
GT
F      48
M      52

In [14]:
StaKV = df.groupby("KV")["KV"].agg(["count"])
print(StaKV)

     count
KV
1       60
2       19
2NT     21

In [15]:
StaKT = df.groupby("KT")["KT"].agg(["count"])
print(StaKT)

    count
KT
A      49
A1      6
B       9
C      14
D1     22

**3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng**

In [16]:
df.head(10)

     Unnamed: 0   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                            ...
1             0  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
2             1  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
3             2  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
4             3  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
5             4  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
6             5  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
7             6  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
8             7  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
9             8  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
10            9  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [17]:
df.tail(10)

     Unnamed: 0   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                            ...
91           90  8.1  7.7  9.1  8.5  6.1  8.6  ...   M NaN    2  6.25  4.00  6.50   A
92           91  7.8  6.5  6.7  5.4  6.2  4.8  ...   M NaN  2NT  4.75  4.75  4.50   A
93           92  5.0  6.6  6.5  7.2  5.8  6.7  ...   M NaN    1  3.25  5.25  4.25   A
94           93  5.2  5.2  6.8  7.9  6.6  8.9  ...   M NaN    1  3.50  4.25  5.00   A
95           94  5.8  5.9  7.6  6.1  5.3  8.1  ...   M NaN    1  4.25  2.50  4.75   A
96           95  8.6  6.9  7.4  8.8  7.6  5.8  ...   F NaN    1  5.25  1.50  6.25   C
97           96  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
98           97  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
99           98  2.7  1.8  3.4  5.3  4.5  7.9  ...   M NaN    1  5.00  3.50  5.50   C
100          99  4.1  5.2  4.9  5.3  5.5  5.4  ...   M NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

**4. Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau:**

In [18]:
df["DT"].fillna(0, inplace =True)

In [19]:
df["DT"]

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

**1. Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean**

In [20]:
df["T1"].fillna(df["T1"].mean(), inplace =True)

**2. Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12.**

In [21]:
for i in ["1","2","3"]:
    df["TBM"+i] = (df["T"+i]*2 + df["L"+i]+ df["H"+i]+ df["S"+i]+
                   df["V"+i]*2 + df["X"+i]+ df["D"+i]+ df["N"+i])/10
for i in ["1","2","3"]:
    print("TBM"+i)

TBM1
TBM2
TBM3

**3. Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1, TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau:**

In [24]:
for i in ["1","2","3"]:
    df.loc[df['TBM'+i] <= 5, 'XL'+i] = 'Y' 
    df.loc[(df['TBM'+i] <= 6.5) &(df['TBM'+i] > 5), 'XL'+i] = 'TB' 
    df.loc[(df['TBM'+i] < 8) &(df['TBM'+i] >= 6.5), 'XL'+i] = 'K' 
    df.loc[(df['TBM'+i] < 9) &(df['TBM'+i] >=8), 'XL'+i] = 'G' 
    df.loc[(df['TBM'+i] >= 9), 'XL'+i] = 'XS'

In [25]:
df.head()

     Unnamed: 0   T1   L1   H1   S1   V1   X1  ...  KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
STT                                            ...
1             0  7.2  7.3  6.3  7.3  7.0  7.9  ...  A1  7.00  7.54  7.06    K    K    K
2             1  5.4  3.9  3.9  4.0  5.4  5.4  ...   C  4.69  5.47  4.70    Y   TB    Y
3             2  5.6  6.8  7.2  7.5  4.3  7.4  ...   C  5.77  5.38  4.33   TB   TB    Y
4             3  6.6  6.4  5.3  6.9  5.4  7.3  ...  D1  6.21  5.20  6.03   TB   TB   TB
5             4  6.0  5.0  6.0  7.3  6.5  7.7  ...   A  6.50  6.36  7.01    K   TB    K

[5 rows x 62 columns]

**4. Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương pháp Min-Max Normalization**

In [27]:
for i in ["1","2","3"]:
    df["US_TBM"+i] = df["TBM"+i]/10 *4
df["US_TBM1"]

STT
1      2.800
2      1.876
3      2.308
4      2.484
5      2.600
       ...
96     2.972
97     1.972
98     2.820
99     1.660
100    2.104
Name: US_TBM1, Length: 100, dtype: float64

**5. Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và rớt (giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau**

In [28]:
for i in df["KT"].unique():
    str(i)
    df.loc[(i == "A1" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "A1" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) < 5), "KQXT"] = 0

    df.loc[(i == "B") & (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "B") & (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) < 5), "KQXT"] = 0
    df.loc[(i not in ("A","A1","B")) & (((df["DH1"] + df["DH2"] + df["DH3"])/3) >= 5), "KQXT"] = 1
    df.loc[(i not in ("A","A1","B")) & (((df["DH1"] + df["DH2"] + df["DH3"])/3) < 5), "KQXT"] = 0
df.head()

     Unnamed: 0   T1   L1   H1   S1  ...  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
STT                                  ...
1             0  7.2  7.3  6.3  7.3  ...    K    2.800    3.016    2.824   0.0
2             1  5.4  3.9  3.9  4.0  ...    Y    1.876    2.188    1.880   0.0
3             2  5.6  6.8  7.2  7.5  ...    Y    2.308    2.152    1.732   1.0
4             3  6.6  6.4  5.3  6.9  ...   TB    2.484    2.080    2.412   0.0
5             4  6.0  5.0  6.0  7.3  ...    K    2.600    2.544    2.804   0.0

[5 rows x 66 columns]

**6. Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv**

In [29]:
df.to_csv('processed_dulieuxettuyendaihoc.csv')

In [30]:
processed_dulieuxettuyendaihoc = pd.read_csv("processed_dulieuxettuyendaihoc.csv")
print(processed_dulieuxettuyendaihoc)

    STT  Unnamed: 0   T1   L1   H1  ...  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
0     1           0  7.2  7.3  6.3  ...    K    2.800    3.016    2.824   0.0
1     2           1  5.4  3.9  3.9  ...    Y    1.876    2.188    1.880   0.0
2     3           2  5.6  6.8  7.2  ...    Y    2.308    2.152    1.732   1.0
3     4           3  6.6  6.4  5.3  ...   TB    2.484    2.080    2.412   0.0
4     5           4  6.0  5.0  6.0  ...    K    2.600    2.544    2.804   0.0
..  ...         ...  ...  ...  ...  ...  ...      ...      ...      ...   ...
95   96          95  8.6  6.9  7.4  ...    K    2.972    2.968    2.816   0.0
96   97          96  3.7  5.4  6.0  ...    Y    1.972    2.060    1.912   0.0
97   98          97  8.8  5.5  7.4  ...    K    2.820    3.136    3.168   1.0
98   99          98  2.7  1.8  3.4  ...   TB    1.660    1.888    2.464   0.0
99  100          99  4.1  5.2  4.9  ...   TB    2.104    2.288    2.360   0.0

[100 rows x 67 columns]

In [33]:
frame = pd.DataFrame(processed_dulieuxettuyendaihoc)
frame.to_csv('/drive/My Drive/DataAnalyst/processed_dulieuxettuyendaihoc.csv')